/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 09-Sep-2023, 3:09:40 pm
    Author     : Ravinder Singh
*/

.student_link{
    margin-left: 700px;
    margin-top: 100px;
    display: inline-block;
}

