/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24-Sep-2023, 7:31:20 pm
    Author     : Ravinder Singh
*/
.supplier_link{
    margin-left: 700px;
    margin-top: 100px;
    display: inline-block;
}
